.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  background-color: #46de69;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  width: 70%;
}

.c1{
    margin-top: 5%;
    font-weight: 600;
    font-size: x-large;
    font-style: oblique;
    font-family: cursive;
    color: #9A0680;
}

.aboutsection {
  font-size: larger;
  font-family: monospace;
  font-style: inherit;
  font-variant: petite-caps;
  font-weight: bold;
  float: right;
  color: #F582A7;
}

.card-text {
  font-size: medium;
  font-style: italic;
  font-family: auto;
  font-weight: 300;
}

.card-title {
  
  font-size: larger;
  font-weight: bolder;
  font-family: cursive;
  font-variant-caps: small-caps;
}

.pro{
  float: left;
}

/* body {
    background-color: black;
}  */

.c{
  margin-left: 20%;
  margin-right: 20%;
}

.footer{
  color: #46de69;
}

div.container.p-4.pb-0{
  background-color: azure;
}
section.mb-4{
  background-color: azure;
}

a.text-white{
  background-color: initial;
}

i.fab{
  background-color: initial;
}


*{
  background-color: black;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #F10086;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: deeppink;
}

nav.navbar{
  padding: 0%;
}

.table th{
  color: #FF6363;
}

.table td{
  color: #FFBD69;
}

.card-title{
  color: #4ECCA3;
}

.card-text{
  color: #616F39;
}